@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: all;
}

@font-face {
	font-family: 'Dr Sugiyama';
	src: url('/fonts/DrSugiyama-Regular.woff2');
	font-display: swap;
}
